/* WRAPPER */

#quizWrap {
    max-width: 600px;
    margin: 0 auto;
}


/*  QUESTION */

#quizQn {
    padding: 20px;
    background: darkgrey;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}


/*  ANSWER */

#quizAns {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    color: #474D52;
}

#quizAns input[type=radio] {
    display: none;
}

#quizAns label {
    background: #fff;
    border: 1px solid #eee;
    border-radius 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

#quizAns label.correct {
    background: #d8ffc4;
    border: 1px solid #60a03f;
}

#quizAns label.wrong {
    background: #ffe8e8;
    border: 1px solid #c78181;
}

#display {
    background: #a19067;
}

#cipher {
    width: 65%;
    margin-left: 17.5%;
}


/*  UI   */

#go-back-button {
    width: 5%;
    left: 90.5%;
    top: 5%;
}