

#door1 {
    top: 51.5%;
    left: 33%;
}

#door2 {
    top: 51.5%;
    left: 44.8%;
}

#door3 {
    top: 51.5%;
    left: 56.5%;
}

#vase1 {
    top: 70.5%;
    left: 15%;
}

#vase2 {
    top: 62.5%;
    left: 25%;
    width: 4%;
}

#vase3 {
    top: 70.5%;
    left: 80%;
}

#display {
   width: 100%;
    padding-top: 56.25%;
    /* (width / 16 * 9) */

    background-repeat: no-repeat;
    background-size: 100%;

    position: relative
  background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("../images/rooms/room.png") center no-repeat;
 cursor:none;
}

.display .torch {
  width: 100%;
    padding-top: 56.25%;
  background:url("../images/rooms/room.png") center no-repeat;
  background-repeat: no-repeat;
    background-size: 100%;

    position: relative
  clip-path:circle(80px at 0px 0px);
}

