#display {
    background-image: url("../images/rooms/Room.png");
}

#door1 {
    top: 51.5%;
    left: 44.8%;
}

#vase1 {
    top: 63.5%;
    left: 38%;
    width: 3%;
}

#vase2 {
    top: 63.5%;
    left: 57%;
    width: 3%;
}

#vase3 {
    top: 78%;
    left: 88%;
}

#chest1 {
    top: 65.5%;
    left: 23%;
}

#chest2 {
    top: 65.5%;
    left: 61%;
}

#chest3 {
    top: 75%;
    left: 11%;
    width: 18%;
}

#chest4 {
    top: 75%;
    left: 70%;
    width: 18%;
}