#display {
    background-image: url("../images/rooms/Room.png");
}

.podium {
    top: 63.2%;
    left: 44.9%;
    width: 11%;
}

#door1 {
    top: 51.5%;
    left: 55%;
}

#vase1 {
    top: 66.5%;
    left: 76%;
    width: 4%;
}

#vase2 {
    top: 63.5%;
    left: 38%;
    width: 3%;
}

#vase3 {
    top: 70.5%;
    left: 19%;
}

#chest1 {
    top: 65.5%;
    left: 23%;
}

